#genreDropDown{
    background: rgba(96, 148, 139, 0.95);
    padding: 40px;
    position: absolute;
    left: 0;
    right: 0;
    top: -1000px;
    transition: all 0.5s ease-in-out;
    z-index: 9;
}

#genreDropDown.show{
    top: 75px;
}

.genreList{
    width: 25%;
    float: left;
    padding: 8px;
    button{
        width: 100%;
        min-height: 20px;
        font-weight: 300;
        font-size: 20px;
        float: left;
        border: none;
        background-color: rgba(96, 148, 139, 0);
        text-align: left;
        padding: 8px 40px;
        color: white;
        letter-spacing: 1px;
        transition: all 0.3s ease-in-out;
         &:hover, 
         &:active{
            color: $white;
            background: lighten( $teal, 10% )
        }
    }
    
}

#burger{
    cursor: pointer;
    float: left;
    position: relative;
}

.dropDownTriangle{
    border-bottom:20px solid rgba(96, 148, 139, 0.95);
    border-top:20px solid transparent;
    border-right:20px solid transparent;
    border-left:20px solid transparent;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 46px;
    top: -40px;
}


.fixedHeader{
    background: linear-gradient(45deg,#44616D 0%,#609488 100%);
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 99;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    .wrapper{
        svg{
            float: left;
            color: $white;
            margin: 20px 20px;
            font-size:25px;
            cursor: pointer;                        
        }
        .navLogo{
            float: right;
            color: $white;
            margin-right: 20px;
        }
    }
}

.navLogo{
    font-size: 20px;
    img{
        float: left;
        width: 55px;
        margin: 14px;
    }
    p{
        float: left;
        letter-spacing: 3.4px;
        font-size: 30px;
        margin: 10px;
    }

}


@media (max-width: 1050px){
    .genreList{
        width: 33.33%;
    }
}

@media (max-width: 802px){
    .genreList{
        width: 50%;
    }
    #genreDropDown{
        padding: 10px;
    }
}


@media (max-width: 500px){
    .navLogo{
        img{
            width: 45px;
            margin: 14px 0;
        }
        p{
            font-size: 25px;
            margin: 10px;
        }
    }
    
    .fixedHeader{
        .wrapper{
            svg{
                margin: 20px 10px 20px 20px;
            }
        }
    }
}
    

@media (max-width: 500px){
    #genreDropDown.show{
        top: 62px;
    }
}

@media (max-width: 356px){
    .fixedHeader .wrapper svg {
    margin: 20px 0px 20px 20px;
    }
    .navLogo p {
    margin: 10px 0;
    }

    .genreList button {
        font-size: 15px;
    }
}