//MOVIES

.movie-wrapper{
    width: 80%;
    margin: 0 auto;
}

.singleMovie{
    width: 25%;
    float: left;
    padding: 20px;
    min-height: 590px;

}

.movieDetails{
    min-height: 95px;
    border-top: 2px solid black;
    margin-top: 15px;
}

.poster{
    min-height: 368px;
}

.poster img{
    width: 100%;
    // min-height: 375px;
}

.singleMovie h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.musicBtn button{
    width: 100%;
    border-style: none;
    padding: 5px;
    background:white;
    border-bottom: 1px solid black;
}

.soundsIcon{
    width: 20px;
    float: right;
    margin-top: 12px;
}

.soundsIcon img{
    width: 100%;
}

.musicBtn p{
    color: rgba(108, 139, 153, 0.635);
    text-align: left;
}

//RESULTS

.filmInfo{
    width: 25%;
    float: left;
}

.filmInfo img{
    width: 100%;
}

.albumResults{
    float: left; 
    width: 73%;
    margin-left: 10px;
    margin-top: 70px;
}

.singleAlbum{
    float: left;
    margin: 10px;
    width: 30.5%;
}

.singleAlbum img{
    width: 100%;
}

.filmInfo_content{
    height: 50px;
}
