
.movie-results {
    margin: 0 auto;
    margin-top: 15vh;
}
.movie-container     {
    float: left;
    width: 25%;
}

figure.movie-details {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  width: 96%;
  color: #000000;
  text-align: center;
  -webkit-perspective: 50em;
  perspective: 50em;
}
figure.movie-details img {
  max-width: 100%;
  vertical-align: top;
}
figure.movie-details .logo-sm {
  width: 40%;
  vertical-align: top;
}
figure.movie-details figcaption {
  top: 50%;
  left: 20px;
  right: 20px;
  position: absolute;
  opacity: 0;
  z-index: 1;
}
figure.movie-details h2,
figure.movie-details h4 {
  margin: 0;
}
figure.movie-details h2 {
  font-weight: 500;
  font-size: .9rem;
  color:black;
  
}
figure.movie-details h4 {
  font-weight: 400;
  text-transform: uppercase;
  padding: 10%;
}
figure.movie-details i {
  font-size: 32px;
}
figure.movie-details:after {
  background-color: #ffffff;
  position: absolute;
  content: "";
  display: block;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  opacity: 0;
}

figure.movie-details:hover figcaption,
figure.movie-details.hover figcaption {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: .8;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
figure.movie-details:hover:after,
figure.movie-details.hover:after {
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  opacity: 0.9;
}
.btn {
  margin: 20px auto;
  text-align: center;
  transition: all ease .5s;
  position: relative;
  border: 2px solid $red;
  width: 150px;
  border-radius: 50px;
  padding: 10px;
  color: white;
  font-size: .8rem;
  background-color: $red;
}
@media (max-width: 800px) {
    .movie-container     {
    float: left;
    width: 50%;
}
}
@media (max-width: 380px) {
    .movie-container     {
    float: left;
    width: 100%;
}
}