//WIDGET

.filmInfo{
    width: 25%;
    float: left;
    position: fixed;
    height: 120vh;
    padding: 20px;
    max-width: 300px;
}

.filmInfo img{
    width: 100%;
}

.playlistBtn{
    border-style: none;
    margin-top: 100px;
    float: right;
}

.albumResults{
    float: right; 
    width: 70%;
    margin-left: 10px;
    margin-top: 70px;
}

.singleAlbum{
    float: right;
    margin: 20px;
    width: 30%;
}

iframe{
    border: 1px solid black;
}

.singleAlbum img{
    width: 100%;
}

.filmInfo_content{
    height: 50px;
}