//WIDGET

.filmInfo{
    width: 25%;
    float: left;
    position: fixed;
    height: 100vh;
    padding: 20px;
}

.filmInfo img{
    width: 100%;
}

.albumResults{
    float: right; 
    width: 70%;
    margin-left: 10px;
    margin-top: 70px;
}

.singleAlbum{
    float: left;
    margin: 10px;
    width: 30.5%;
}

.singleAlbum img{
    width: 100%;
}

.filmInfo_content{
    height: 50px;
}