@import "normalize";

$white: #FFFFFF;
$grey: #F2F2F2;
$lightblue: #78C8D9;
$red: #FF4738;
$darkblue: #44616D;
$teal: #60948B;

a{
    text-decoration: none;
}


body{
    font-family: 'Oswald', sans-serif;
}

@import "logIn";
@import "header";
@import "movies";
@import "media";